/* fonte personalizada */
@font-face {
    font-family: 'Pixel';
    src: url('./fonts/PixelOperator.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Pixel';
    src: url('./fonts/PixelOperator-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'PixelSC';
    src: url('./fonts/PixelOperatorSC.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'PixelSC';
    src: url('./fonts/PixelOperatorSC-Bold.ttf') format('truetype');
    font-weight: bold;
}

/* cores definidas em variáveis, possibilitando alterar a paleta de cores do site */
:root {
    --tom0: #CCC;
    --tom1: #5FC75D;
    --tom2: #36868F;
    --tom3: #203671;
    --tom4: #0F052D;
}

/* estilização geral */
::selection {
    background: none;
    color: var(--tom0);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Pixel', Verdana, Tahoma, sans-serif;
    /* border: 1px solid var(--tom0);  */
}

html {
    scroll-behavior: smooth;
    /* rolagem suave ao clicar nos links */
}

body {
    background-color: var(--tom4);
    color: var(--tom1);
    margin: 40px 0px 20px 0px;
    font-size: 24px;
}

p {
    margin: 45px 0px;
    text-align: justify;
    color: var(--tom2);
}

a {
    color: var(--tom1);
    text-decoration: none;
}

a:hover {
    color: var(--tom3);
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
}

ul li svg {
    width: 48px;
    height: 48px;
}

/* Estilização da Barra de Menu */

.barra {
    width: 100%;
    background-color: var(--tom3);
    color: var(--tom2);
    position: fixed;
    /* fixar no topo da pagina */
    top: 0;
}

.menu {
    display: flex;
    /* menu ficar no horizontal */
    justify-content: center;
    /* centralizar menu na pagina */
}

.menu li {
    font-weight: bold;
    font-size: 20px;
}

.menu li a {
    display: block;
    color: var(--tom2);
    padding: 10px;
    transition: background-color 0.5s, color 0.5s;
}

.menu li a:hover {
    background-color: var(--tom2);
    color: var(--tom3);
}

/* Estilização do Conteúdo */
/* Parte geral */

header {
    text-align: center;
    font-size: 38px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
}

section {
    padding-top: 40px;
}

/* Sobre mim */

span {
    color: var(--tom1);
}

/* Formação */

h3 {
    font-weight: normal;
    color: var(--tom2);
}

h3+p {
    margin-top: 0px;
}

small {
    color: var(--tom3);
}

svg {
    vertical-align: middle;
    fill: var(--tom2);
}


/* Formulário de Contato */

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--tom3);
    border-radius: 10px;
}

input::selection,
textarea::selection {
    color: var(--tom2);
}

fieldset {
    padding: 20px;
    border-color: var(--tom0);
}

label {
    display: block;
    font-size: 22px;
    color: var(--tom1);
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: var(--tom0);
    border: 3px solid var(--tom0);
    border-radius: 5px;
    font-size: 20px;
    color: var(--tom4);
}

textarea {
    resize: vertical;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    text-align: center;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    outline: none;
    border-color: var(--tom1);
}

input[type="submit"] {
    width: 50%;
    margin: 0 auto;
    display: block;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-family: 'PixelSC', Verdana, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: var(--tom3);
    background-color: var(--tom2);
    transition: background-color 0.5s;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--tom1);
}

/* créditos no rodapé */

footer {
    color: var(--tom2);
    text-align: center;
    font-size: 16px;
    margin: 20px 0;
}

footer ul li:not(:last-child)::after {
    content: " \2022 ";
}